<!DOCTYPE html>
<html lang="en">
  <%= render "head.html", conn: @conn %>
  <body>
    <%= render "navigation.html", conn: @conn %>
    <%= render "alerts.html", conn: @conn %>

    <main role="main row content">
      <%= render @view_module, @view_template, assigns %>
    </main>
    
   

    <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
